body{
 font-family: "Roboto Slab", serif;
 font-style: normal;
font-weight: 400;
margin: 0;
}

/* header things here*/
header{
	background-color: #f2e6df;
	padding: 1rem 2vw;
}
header h1 {
	margin: 0;
	color: #f24405;
}
header p {
	margin: 0;
	color:  #f24405;
	letter-spacing: .5px;
}
/* nav stuff here */
nav{
	background-color: #f24405; 	
}
nav ul{
	list-style-type: none;
	padding:0 2vw;
	margin:0;
	display:flex
}
nav a {
	font-size: 1.1rem;
	text-decoration: none;
	color: #f2cf63;
	font-weight: 700;
	display: block;
	padding: .83rem 2rem;
}
nav li.active a{
	background-color:#f2cf63;
	color:#f24405; 	
}
nav a:hover{ 
 color: whitesmoke;
}
/* stuff for main*/
main{
	padding: 1rem 2vw;
}
main h1 {
	color:#f21905;
}
main h2 {
	color:#f24405;
	margin-bottom: .2rem;
}
main p {
	color:#000000;
	margin-bottom:  .3rem 0;
}
main h3{
	color: #f2cf63;
}
main ol {
	padding:.5rem 3vw;
	background-color: #f2e6df;
}
main dl dt{
	color:#f21905;
	font-weight: 700;
}
main dl dd{
	color:#000000;
	font-size: .9rem;
	
}
main ul{
	list-style-type: circle;
}
main ul li{
	line-height: 125%;
	margin-bottom: .5rem;
	font-size: .9rem;
}
main a {
	color:  #f21905;
}
/*footer stuff here*/
footer {
	background-color:  #f2e6df;
	text-align: center;
	color: #f24405;
	padding: 1rem 0; 
	font-size: .8rem; 
}
footer a{ 
	color: #a6958f;
}
